.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
   
    .title{
      font-style: normal;
      text-align: center;
      font-size: 48px;
      color: #FFFFFF;
    }

    .search{
      font-style: normal;
      display: block;
      margin: 40px 0;
      padding-left: 20px;
      max-width: 500px;
      height: 40px;
      border: none;
      outline: none;
      background-color: #FFFFFF;
      color: black;
      font-size: 25px;
    }

    .noCityTitle{
      font-style: normal;
      text-align: center;
      font-size: 36px;
      margin-bottom: 40px;
      color: rgba(215, 204, 206, 0.55);
    }

    .searchBtn{
        margin-bottom: 40px;
        border: none;
        background: none;
        font-size: 36px;
        color: #ecf0f3;
        transition: all .3s;
      }

      .searchBtn:hover{
        transform: scale(1.1);
      }

    .gps{
      display: flex;
      border: none;
      background: none;
      outline: none;
      font-size: 25px;
      color: #ecf0f3;
      transition: all .3s;

      img{
        width: 23px;
        height: 23px;
        margin-right: 10px;
        transition: all .3s;
      }
    }
   
    button:hover{
      transform: scale(1.1);
    }
  }
